$notorama-carousel-arrow-size: 3.4rem !default;

$notorama-carousel-item-border: 2px solid $color-gray60 !default;
$notorama-carousel-item-border-current: $color-orange-red1 !default;

.notorama-carousel {
    position: relative;

    .slick-item img,
    .notorama-placeholder-thumb img {
        border: $notorama-carousel-item-border;
    }

    .slick-current img,
    .notorama-placeholder-thumb.slick-current img {
        border-color: $notorama-carousel-item-border-current;
    }

    .slick-arrow {
        width: $notorama-carousel-arrow-size;
        height: $notorama-carousel-arrow-size;
    }
}

@media screen and (min-width: $screen__m) {
    .notorama-carousel {
        display: block;

        .placeholder {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }

        .loading {
            width: 100%;
        }
    }
}
